<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help | Ruby on Rails Sample Apple</title>
  </head>
  <body>
    <h1>StaticPages#help</h1>
    <p>Find me in app/views/static_pages/help.html.erb</p>
  </body>
</html>
