<% provide(:title, "Home") %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> | Ruby on Rails Sample Apple</title>
  </head>
  <body>
    <h1>StaticPages#home</h1>
    <p>Find me in app/views/static_pages/home.html.erb</p>
  </body>
</html>
